<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Cek Diabetes</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
  <div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
 </div>

  <div class="">
    <div class="login">
     <h1>Cek Diabetes</h1>
   
        
       <form action="{{ url_for('predict')}}"method="post">
           <input type="text" name="Glukosa" placeholder="Glukosa" required="required" />
           <input type="text" name="Insulin" placeholder="Insulin" required="required" />
           <input type="text" name="BMI" placeholder="BMI" required="required" />
           <input type="text" name="Umur" placeholder="Umur" required="required" />
       
   
           <button type="submit" class="btn btn-primary btn-block btn-large" href="hasil.html">Cek Diabetes</button>
       </form>
      <br>
      <br>
      {{ prediction_text }}
    </div>
  </div>
</body>
</html>
